@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

:root {
  --color-white: hsl(0deg, 0%, 100%);
  --color-green: hsl(75deg, 94%, 57%);
  --color-gray-700: hsl(0deg, 0%, 20%);
  --color-gray-800: hsl(0deg, 0%, 12%);
  --color-gray-900: hsl(0deg, 0%, 8%);

  --font-family: "Inter", sans-serif;
  --font-light: 400;
  --font-medium: 600;
  --font-heavy: 700;
  --font-size-p: 14px;
}

html,
body {
  width: 100dvw;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  height: 100dvh;
  font-family: var(--font-family);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  background-color: var(--color-gray-900);
}

main {
  height: 100%;
  display: grid;
  place-items: center;

  margin: 0;
  padding: 0;
}

footer {
  justify-self: start;
  display: grid;
  place-items: center;
  width: 100dvw;
  height: 40px;
  color: var(--color-gray-800);
  align-content: center;
  text-align: center;
  background-color: darkgrey;

  font-size: 0.65rem;

  a:link,
  a:visited {
    color: var(--color-gray-900);
  }
}

.container {
  height: max(40vh, 550px);
  width: max(12vw, 250px);
  background-color: var(--color-gray-800);

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
  flex-basis: 1 1 auto;

  border-radius: 20px;
  margin: 1rem;
  padding: 1.2rem;
}

.info {
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.75rem;

  color: var(--color-white);

  h1,
  h2 {
    margin: 0;
  }

  img {
    width: 100px;
    height: 100px;
    border-radius: 100%;
  }

  .name {
    font-size: 1.8rem;
    font-weight: var(--font-medium);
  }

  .location {
    font-size: 1rem;
    font-weight: var(--font-medium);
    color: var(--color-green);
  }

  .quote {
    padding-block-start: 1rem;
    font-size: 0.9rem;
    font-weight: var(--font-light);
  }
}

.links {
  height: 100%;
  height: max-content;
}

.links ul {
  height: 100%;
  display: grid;
  align-items: center;
  gap: 1rem;

  margin: 0;
  padding: 0;

  li {
    padding-block: 1rem;
    width: 100%;
    font-size: 1rem;
    list-style: none;
    background: var(--color-gray-700);
    border-radius: 4px;

    text-align: center;
    align-content: center;

    a:link,
    a:visited {
      text-decoration: none;
      color: var(--color-white);
    }
  }

  li:hover {
    background-color: var(--color-green);
  }
}
